.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #201d1d;
  color: #fff;
  font-size: 15px;
}

.sidebar-menu {
  list-style: none;
  padding: 20px 0;
}

.sidebar-menu-item {
  padding: 10px;
}
